.Cart {
  padding-top: 60px;
  padding-bottom: 60px;
}

.Cart__item {
  border-bottom: 1px dashed #ccc;
}

.Cart__item:first-of-type {
  border-top: 1px dashed #ccc;
}

.Cart__total {
  padding: 20px 135px 20px 10px;
  text-align: right;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.Cart__total * {
  padding-left: 80px;
}
