.Item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: background-color 1s;
}

.Item__code {
  padding: 20px 10px 20px 20px;
}

.Item__title {
  padding: 20px 10px;
}

.Item__price {
  padding: 20px 10px;
  margin-left: auto;
}

.Item__actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 10px;
}
